body{
    padding: 0;
    margin: 0;
}
#splash{
    height: 1000px;
    background-color: #111111;
}
#overview{
    height: 1000px;
    background-color: #dddddd;
}
#media{
    height: 1000px;
    background-color: #ddbb00;
}
#footer{
    height: 1000px;
    background-color: #111111;
}